.experience {
    margin: 0.5rem 0;
}

.experience-body {
    display: flex;
    padding: 0 1rem;
}

.experience-title {
    padding: 0 1rem;
    margin: 0.5rem 0; 
}

.experience-colorBar {
    width: 1rem;
}

.experience-color {
    width: 100%;
    height: 100%;
}

.experience-roles {
    flex: 1;
    padding: 0 0.5rem;
}