.header {
    background-color:#1c4587;
    color: white;
    display: flex;
}

.header > img {
    flex: 0;
    padding: 0.25rem;
    height: 10rem;
}

.header-info {
    flex: 1;
    padding-left: 1rem;
    font-weight: 500;
}

.header-info > h1 {
    margin-top: 2rem;
}

.header-info > div {
    margin-top: 0.5rem;
}