.experience-body {
    display: flex;
    padding: 0 1rem;
}

.experience-title {
    padding: 0 1rem;
}

.experience-color {
    width: 1rem;
}

.experience-roles {
    flex: 1;
}

.role {
    display: flex;
}

.role-info {
    flex: 80%;
}

.role-title {
    
}

.role-duties {

}

.role-date {
    flex: 20%;
}