.experience-body {
    display: flex;
    padding: 0 1rem;
}

.experience-title {
    padding: 0 1rem;
    margin-bottom: 0.5rem; 
}

.experience-colorBar {
    width: 1rem;
    padding: 0.25rem;
}

.experience-color {
    background-color: red;
    width: 100%;
    height: 100%;
}

.experience-roles {
    flex: 1;
}

.role {
    display: flex;
}

.role-info {
    flex: 80%;
}

.role-title {
    margin: 0.5rem 0;
}

.role-duties {
    margin: 0.5rem 0;
    padding-inline-start: 2rem;
}

.role-date {
    flex: 20%;
    font-weight: 500;
    padding-top: 0.5rem;
}